/* scroll */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b3b3b;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #686868;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    background: transparent;
}


/* navbar */

body {
    position: relative;
    background: url('https://images.unsplash.com/photo-1665658841627-181ec5ff8d1f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
}

.bars {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 99999;
    padding-top: 9px;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
}

.bars span::before,
.bars span::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 100%;
    height: 4px;
    position: absolute;
}

.bar::before {
    transform: translateY(-9px);
}

.bar::after {
    transform: translateY(9px);
}

.bars.active .bar {
    background-color: transparent;
}

.bars.active span::before {
    animation: top-bar 1s;
    animation-fill-mode: forwards;
}

.bars.active span::after {
    animation: bottom-bar 1s;
    animation-fill-mode: forwards;
}

#nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1s;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
}

#nav a {
    color: #fff;
    text-decoration: none;
    line-height: 70vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-indent: 50vw;
    border-radius: 50%;
    transition: all .5s;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#nav a:hover {
    background: #535353;
}

ul {
    list-style: none;
}

.visible {
    z-index: 100 !important;
    opacity: 1 !important;
}

.shape-circle {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    top: -10vw;
    right: -10vw;
    position: absolute;
    transition: all 1s ease-in-out;
    background: #2c2c2c;
    box-shadow: 0 0px 0px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child {
    width: 200vw;
    height: 200vw;
    top: -100vw;
    right: -100vw;
    z-index: 5;
    transition: all .5s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(2) {
    width: 150vw;
    height: 150vw;
    top: -75vw;
    right: -75vw;
    z-index: 6;
    transition: all .6s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(3) {
    width: 100vw;
    height: 100vw;
    top: -50vw;
    right: -50vw;
    z-index: 7;
    transition: all .7s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:last-child {
    width: 50vw;
    height: 50vw;
    top: -25vw;
    right: -25vw;
    z-index: 8;
    transition: all .8s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child a {
    line-height: 265vw !important;
    text-indent: 15vw !important;
}

nav.visible li:nth-child(2) a {
    line-height: 200vw !important;
    text-indent: 17vw !important;
}

nav.visible li:nth-child(3) a {
    line-height: 137vw !important;
    text-indent: 17vw !important;
}

nav.visible li:last-child a {
    line-height: 70vw !important;
    text-indent: 12vw !important;
}

.home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.home h1 {
    font-size: 50px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 40px;
}

.home p {
    padding-bottom: 15px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.home img {
    margin-top: 90px;
}

@keyframes top-bar {
    50% {
        transform: translateY(0);
    }
    100% {
        transform: rotate(45deg) translateY(0);
    }
}

@keyframes bottom-bar {
    50% {
        transform: translateY(0);
    }
    100% {
        transform: rotate(-45deg) translateY(0);
    }
}

@media screen and (max-width:800px) {
    .home h1 {
        padding-top: 80px;
        font-size: 60px;
    }
    #nav a {
        font-size: 14px;
    }
    .bar {
        margin-top: -10px;
    }
}


/* home */

.reveal {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateX(0);
    opacity: 1;
}

.reveal2 {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal2.active {
    transform: translateX(0);
    opacity: 1;
}


/* login */

form {
    position: relative;
    top: 50px;
    height: 520px;
    width: 400px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}